@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

:root {
    --colorTextSecondary: floralwhite;

    --colorPrimary: #20408A;
    --colorSecondary: lightgrey;
}

* {
    margin: 0;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/* Landmark elements */

header {
    padding: 0.5rem 0 0.5rem 2rem;
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
}

main {
    padding: 0.5rem 1rem;
    line-height: 1.4rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
footer > p {
    color: var(--colorTextSecondary);
    background-color: var(--colorPrimary);
    border-radius: 0;
    padding: 0.5rem;
}

section {
    padding: 1rem;
    overflow: auto;
}

/* Non-landmark elements */

article {
    border: thin solid var(--colorPrimary);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
}

button {
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
}

/* Classes and element IDs */

.name {
    font-weight: bold;
}

.date::before {
    content: 'Date of birth: ';
}

.salary::before {
    content: 'Monthly salary: ';
}